body{
    max-width: 1440px;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 20px;
}
.headerMenu{
    display: none;
}
.nav {
    display: flex;
    align-items: center;
}

ul{
    display: flex;
}
li{
    list-style-type: none;
    padding-right: 20px;
}
.firstSection{
    position: relative;
    background-image:url(./image/section1.jpg);
}
.firstSection h3{
    font-weight: 400;
    font-size: 56px;
    line-height: 140%;
    text-transform: uppercase;
    padding: 40px 40px 300px;
    color: #000000;
}
.absolutBlock{
    position: absolute;
    left: 380px;
    bottom: -15px;
}
.sneakersBlock{
    display: none;
}
.secondSection {
    display: flex;
    justify-content: center;
    align-items: center;
}
.paragraph {
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    max-width: 800px;
    margin-left: 30px;
    color: #000000;
}
.thirdSection{
    background-image: url(./image/color.png);
}
.thirdSection h3{
    font-weight: 400;
    font-size: 56px;
    line-height: 140%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    max-width: 1030px;
    padding: 200px;
    color: #FFFFFF;
}
.fourthSection {
    display: flex;
    justify-content: center;
}
.sneakers3Block {
    margin-right: 140px;
}
.text {
    max-width: 500px;
}
.firstParagraphe {
    font-weight: 400;
    font-size: 40px;
    line-height: 140%;
    color: #000000;
}
.secondParagraphe {
    font-weight: 400;
font-size: 24px;
line-height: 160%;
color: #000000;
}
@media screen and (max-width:1000px){

        /* firstSection */

    .firstSection{
        height: 800px;
    }
    .heading{
        position: relative;
    }
    .heading :last-child{
        position: absolute;
        left: 36px;
        bottom: -200px;
    }
    .absolutBlock{
        left: 200px;
        bottom: 320px;
    }
    .absolutSneakers{
        width: 400px;
    }

        /* secondSection */

        .secondSection{
            display: block;
            margin: 20px auto;

        }
        .sneakers2Block{
            margin: 0 auto;
            width: 400px;
        }
        .sneakers2{
            width: 400px;
        }
        .paragraph{
            font-size: 30px;
            text-align: center;
            margin: 10px auto;
        }

        /* thirdSection */

    .thirdSection h3{
        font-size: 24px;
        padding: 100px;
    }
        /* fourthSection */

        .fourthSection{
            display: block;
        }
        .sneakers3Block{
            text-align: center;
            margin-right:0;
        }
        .sneakers3{
            max-width: 500px;
        }
        .text{
            margin: 0 auto;
        }

}
@media screen and (max-width:800px){
    /* header */

    .searchBlock,.about,.shop,.basketBlock{
        display: none;
    }
    .headerMenu{
        display: block;
    }
    .heading:first-child, .heading:last-child{
        font-size: 50px;
    }
    .absolutBlock{
        left: 200px;
        bottom: 320px;
    }
    .absolutSneakers{
        width: 300px;
    }

    /* thirdSection */

    .thirdSection h3{
        font-size: 24px;
        padding: 100px;
    }

    /* fourthSection */

    .firstParagraphe{
        font-size: 30px;
        letter-spacing: 100%;
    }
    .secondParagraphe{
        font-size: 20px;
        letter-spacing: 60%;
    }
}
@media screen and (max-width:600px){
    /* header */
    .heading:first-child, .heading:last-child{
        font-size: 35px;
    }
    .absolutBlock{
        left: 70px;
        bottom: 340px;
    }
}
